<div class="clearfix">
  <div class="well col-sm-6">
    <%= form_for(@pin, html: { role: "form" }) do |f| %>
      <% if @pin.errors.any? %>
        <% @pin.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger"><%= msg %></div>
        <% end %>
      <% end %>
      
      <div class="form-group <%= "has-error" if @pin.errors[:image].any? %>">
        <%= f.label :image, "Upload an image", class: "control-label" %><br>
        <%= f.file_field :image, class: "form-control" %>
      </div>

      <div class="form-group <%= "has-error" if @pin.errors[:description].any? %>">
        <%= f.label :description, class: "control-label" %><br>
        <%= f.text_area :description, class: "form-control", size: "1x3"  %>
      </div>
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to "Cancel", pins_path, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>